body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #93d2f0, #0759f1, #4409cf);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 30px;
  max-width: 600px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #0759f1;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header h1 {
  font-size: 3.5rem;
  color: #333;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
  font-weight: 300;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  align-items: center;
}

.navbar button {
  background-color: #5D5E60;
  color: white;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  flex: 1;
  margin: 0 10px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  width: 45%;
}

.navbar button:hover {
  background-color: #36413E;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.navbar button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(7, 61, 119, 0.7);
}

.botaorota {
  background-color: #e74c3c;
}

.botaorota:hover {
  background-color: #f39c12;
}

.botaoreserva {
  background-color: #5D5E60;
}

.botaoreserva:hover {
  background-color: #36413E;
}

.main {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  display: flex;
  flex-direction: column;
}

.input label {
  margin-bottom: 8px;
  font-size: 0.9rem;
  color: #333;
}

.input input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.button {
  padding: 12px;
  background-color: #5D5E60;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #36413E;
  transform: scale(1.05);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.botaorota {
  background-color: #c157ff;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.botaorota:hover {
  background-color: #8f32db;
  transform: scale(1.05);
}

.botaorota:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.botaoreserva {
  background-color: #60ee1e;
  color: white;
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}



@media screen and (max-width: 768px) {
  .home {
    max-width: 100%;
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar button {
    margin-bottom: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }
}
